body {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.main {
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .container {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .title-action {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & h3 {
        width: 100%;
        display: flex;
        text-align: start;
      }

      & .actions {
        display: flex;
        gap: 16px;

        & button {
          width: 180px;
          height: 40px;
          padding: 10px 15px;
          font-size: 20px;
          font-weight: 600;
          border-radius: 8px;
          display: flex;
          text-align: center;
          justify-content: center;
          align-items: center;
          gap: 10px;
          cursor: pointer;
        }

        & .yellow {
          background-color: #e6ad47;
          color: #fff;
          transition: all 0.2s;
          border: 2px solid #e6ad47;
        }

        & .yellow:hover {
          background-color: #c0903b;
          color: #f1f1f1;
          transition: all 0.2s;
          border: 2px solid #c0903b;
        }

        & .white {
          background-color: #fff;
          color: #173e6d;
          transition: all 0.2s;
          border: 2px solid #173e6d;
        }

        & .white:hover {
          background-color: #f1f1f1;
          color: #0F2949;
          transition: all 0.2s;
          border: 2px solid #0F2949;
        }
      }
    }

    & .container-user-info {
      width: 100%;
      height: 492px;
      display: flex;
      flex-direction: column;
      align-items: start;
      overflow-y: auto;

      & .password-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;

        & .senha-action {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;

          & h3 {
            display: flex;
            text-align: start;
          }

          & button {
            width: 180px;
            height: 40px;
            padding: 10px 15px;
            font-size: 20px;
            font-weight: 600;
            border-radius: 8px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            background-color: #e6ad47;
            color: #fff;
            transition: all 0.2s;
            border: 2px solid #e6ad47;
          }

          & button:hover {
            background-color: #c0903b;
            color: #f1f1f1;
            transition: all 0.2s;
            border: 2px solid #c0903b;
          }
        }

        & .info {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 4px;
          color: #173e6d;
          margin: 8px 0;
          box-sizing: border-box;

          & h4 {
            font-size: 24px;
            font-weight: 600;
          }

          & span {
            font-size: 20px;
            font-weight: 400;
          }

          & .password-box {
            width: 83%;
            height: 39px;
            padding: 6px;
            outline: none;
            border: 2px solid #173e6d;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 400;
            color: #173e6d;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;

            & input {
              width: 90%;
              font-size: 16px;
              font-weight: 400;
              color: #173e6d;
              background-color: #fff;
              outline: none;
              border: none;
            }

            & svg {
              font-size: 16px;
              cursor: pointer;
            }
          }

          & .input {
            width: 80%;
            height: 24px;
            padding: 6px;
            outline: none;
            border: 2px solid #173e6d;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 400;
            color: #173e6d;
            background-color: #fff;
          }
        }
      }

      & .background-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.461);
        z-index: 2;
        overflow: hidden;

        & .change-passowrd-modal {
          width: 380px;
          height: 160px;
          position: absolute;
          top: 30%;
          left: 40%;
          background-color: #fff;
          border-radius: 15px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          box-sizing: border-box;
          box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;

          & span {
            font-size: 16px;
            font-weight: 500;
            color: #173e6d;
          }

          & .actions {
            width: 100%;
            display: flex;
            justify-content: space-between;

            & button {
              border-radius: 8px;
              font-size: 16px;
              font-weight: 600;
              padding: 12px;
              box-sizing: border-box;
              cursor: pointer;

            }

            & .alterar-senha {
              background-color: #e6ad47;
              color: #fff;
              transition: all 0.2s;
              border: 2px solid #e6ad47;
            }

            & .alterar-senha:hover {
              background-color: #c0903b;
              color: #f1f1f1;
              transition: all 0.2s;
              border: 2px solid #c0903b;
            }

            & .fechar {
              background-color: #fff;
              color: #173e6d;
              transition: all 0.2s;
              border: 2px solid #173e6d;
            }

            & .fechar:hover {
              background-color: #f1f1f1;
              color: #0F2949;
              transition: all 0.2s;
              border: 2px solid #0F2949;
            }
          }

        }
      }

    }

    & .container-user-info::-webkit-scrollbar {
      width: 18px;
    }

    & .container-user-info::-webkit-scrollbar-track {
      background: #f7f7f7;
      border-radius: 15px;
    }

    & .container-user-info::-webkit-scrollbar-thumb {
      background: #b9b9b9;
      border-radius: 15px;
      border: 5px solid #f7f7f7;
    }
  }
}