body {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.main {
    width: 80vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & .container {
        width: 70vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        & h3 {
            width: 100%;
            display: flex;
            text-align: start;
            margin-bottom: 20px;
        }

        & .dashboard {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & .top,
            .bottom {
                width: 100%;
                height: 48%;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;

                & .left,
                .right {
                    height: 100%;
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }

            }

            & .top {
                & .left {
                    & .row-viagens-nota {
                        display: flex;
                        width: 100%;
                        height: 46%;
                        justify-content: space-between;

                        & .simple-box {
                            width: 47%;
                            height: 100%;
                            background-color: #fff;
                            border-radius: 10px;
                            box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            box-sizing: border-box;
                            padding: 12px;

                            & svg {
                                font-size: 44px;
                                color: #173e6d;
                            }

                            & .valor {
                                height: 100%;
                                width: 60%;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                justify-content: center;
                                /* gap: 4px; */

                                & p {
                                    color: #173e6d;
                                    font-weight: 600;
                                    font-size: 32px;
                                }

                                & span {
                                    color: #173e6d;
                                    font-weight: 500;
                                    font-size: 24px;
                                    width: 100%;
                                    text-align: center;
                                }
                            }
                        }
                    }

                    .row-principal-trajeto {
                        width: 100%;
                        height: 46%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        background-color: #fff;
                        border-radius: 10px;
                        box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
                        box-sizing: border-box;
                        padding: 12px;

                        & h4 {
                            color: #173e6d;
                            font-weight: 600;
                            font-size: 20px;
                        }

                        & .trajeto {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 8px;

                            & .cidade-uf {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: start;
                                gap: 8px;

                                & svg {
                                    color: #173e6d;
                                    font-weight: 600;
                                    font-size: 20px;
                                }

                                & span {
                                    color: #173e6d;
                                    font-weight: 500;
                                    font-size: 16px;
                                }
                            }
                        }

                        & p {
                            color: #173e6d;
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }
                }

                & .right {
                    display: flex;
                    justify-content: space-between;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
                    box-sizing: border-box;
                    padding: 12px;
                    position: relative;

                    & .criterio {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;

                        & svg {
                            color: #173e6d;
                            font-weight: 600;
                            font-size: 28px;
                        }

                        & span {
                            color: #173e6d;
                            font-weight: 600;
                            font-size: 20px;
                            margin: 0 8px;
                        }

                        & .total-nota {
                            height: 20px;
                            width: 80%;
                            background-color: #dfdfdf;
                            border-radius: 20px;

                            & .nota {
                                height: 100%;
                                border-radius: 20px;
                                background-color: #173e6d;
                                transition: all ease .2s;
                                position: relative;

                                & .tooltip {
                                    padding: 4px;
                                    background-color: #fff;
                                    box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
                                    border-radius: 10px;
                                    position: absolute;
                                    bottom: 10px;
                                    right: -16px;
                                    border: 1px solid #e7e7e7;

                                    & span {
                                        color: #173e6d;
                                        font-weight: 600;
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }

                    & .info {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        & .description {
                            display: flex;
                            align-items: center;
                            gap: 4px;

                            & svg {
                                font-size: 16px;
                                color: #173e6d;
                            }

                            & span {
                                font-size: 12px;
                                font-weight: 600;
                                color: #173e6d;
                            }
                        }
                    }
                }
            }

            & .bottom {
                & .left {
                    & h4 {
                        color: #173e6d;
                        font-weight: 600;
                        font-size: 20px;
                        margin-bottom: 12px;
                    }

                    & .avaliacoes {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        overflow-y: auto;
                        gap: 12px;

                        & p {
                            color: #173e6d;
                            font-weight: 500;
                            font-size: 16px;
                        }
                    }

                    & .avaliacoes::-webkit-scrollbar {
                        width: 18px;
                    }

                    & .avaliacoes::-webkit-scrollbar-track {
                        background: #f7f7f7;
                        border-radius: 15px;
                    }

                    & .avaliacoes::-webkit-scrollbar-thumb {
                        background: #b9b9b9;
                        border-radius: 15px;
                        border: 6px solid #f7f7f7;
                    }

                    & .start {
                        justify-content: start;
                    }

                    & .center {
                        justify-content: center;
                        align-items: center;
                        background: #fff;
                        border-radius: 10px;
                        box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
                    }
                }

                & .right {
                    & h4 {
                        color: #173e6d;
                        font-weight: 600;
                        font-size: 20px;
                        margin-bottom: 12px;
                    }

                    & .fidelizado {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & .com-fidelizados {
                            width: 100%;
                            height: 100%;
                            position: relative;

                        }

                        & .sem-fidelizados {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: #fff;
                            border-radius: 10px;
                            box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px, rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;

                            & p {
                                color: #173e6d;
                                font-weight: 500;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}