/* CadastroCarro.module.css */
.main {
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.button-novo {
  background-color: #e6ad47;
  border: 3px solid #e6ad47;
  color: #fff;
  transition: all 0.2s;
  margin-right: 20px; /* Adiciona margem direita */
  box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
}

.button-novo:hover {
  color: #f1f1f1;
  border: 2px solid #e6a534;
  background-color: #e6a534;
  transition: all 0.2s;
}

.button-cancelar {
  margin-left: 20px; /* Adiciona margem esquerda */
}

.form-container {
  background-color: #f7f7f7;
  height: 350px;
  width: 600px;
  position: absolute;
  flex-direction: column;
  top: 25%;
  left: 38%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.169) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.123) 0px 8px 16px -8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.overlay.active {
  display: block;
}
